[user]
	name = Sem Noach
	email = sem@osesem.xyz
	signingkey = ~/.ssh/id_ed25519
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[alias]
	cma = !git add -A && git commit -m
[tag]
	gpgSign = true
[gpg]
	format = ssh
[core]
	safecrlf = false